body {
    background-image: url(https://wallpapers.com/images/hd/vaporwave-background-sc46wjgt93poi8dk.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 80vh;
    
}

:root {
    --color1: violet;
    --color2: red;
    --color3: #2f00ff;
    --textcolor: rgb(87, 218, 0);
  }

.navbar ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: rgb(108, 0, 180);
    display:flex;
    flex-wrap: wrap;
}

.navbar li a {
    display: block;
    color: var(--color1);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 2rem;
    border-left: solid;
    border-color: var(--color2);
    border-width: 4px;
  }

 .navbar li a:hover {
    background-color: var(--color3);
    color: white;}

 .navbar li{
    float: left;
 }

#active {
    color: green;
}


p{
    color: var(--textcolor);
    padding-top: 2rem;
    font-family: "Audiowide", sans-serif;
    font-weight: bold;
    font-size: 2vw;

}

footer{
    color: red;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: white;
    padding-left: 2rem;
    font-size: 1rem;

}

img{
    max-width: 100%;
    padding-top: 8rem;
}

form{
    color:var(--textcolor);
    padding-top: 2rem;
    font-family: "Audiowide", sans-serif;
    font-weight: bold;
    font-size: 1.5rem
}

table th{
    color:var(--textcolor);
    font-family: "Audiowide", sans-serif;
    font-weight: bold;
    font-size: 2rem;
}

th, tr, td{
    border: outset;
    border-color: var(--color1);
    text-align: center;
    background-color: blueviolet;
    border-radius: 2rem;
    font-family: "Audiowide", sans-serif;
    color: var(--color2);
}